<!DOCTYPE html>
<html>
  <head>
    <title>OneBogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div>
        <h1> Bog-app </h1>
      </div>
      <div>
        <%= link_to "new creature", new_creature_path %>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
